/*Global*/
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fontawesome.io/assets/font-awesome/css/font-awesome.css);

body{
	background-color: #f9f9f9;
	font-family: "Crimson Text";
}

.main{
	background: #fff;
}

@media (min-width: 778px){
	.main{
		height: 105vh;
		overflow: hidden;
	}

.btn-rabbit{
	background-color: #fff;
	color: #111;
	font-style: italic;
	border: 1px solid #111;
	border-radius: 0px !important;
	transition: all 0.4s ease-in-out;
	margin-bottom: 20px;
	font-family: "Crimson";
	font-size: 13px;

}

.btn-rabbit:hover{
	color: #fff;
	background-color: #bb9e7d;
	border-color: #bb9e7d;}

p{
	color: #585757;
	font-size: 16px;
	
}

.subtitle{
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	color: #3b3b3b;
	line-height: 25px;
	font-family: "Crimson";
	margin-top: 15px;
	margin-bottom: 20px;
	padding-right: 40px;
}

.page-title{
	text-transform: uppercase;
	font-family: 'Josefin Sans';

}

/*Home Style*/
.logo{
	padding-top: 100px;
	text-transform: uppercase;
	font-size: 12px;
}

.logo h4{
	font-family: 'Josefin Sans';
}

.home-description{
	font-style: italic;
	font-weight: 700;
	font-family: "Crimson";
	font-size: 15px; 
	padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 120px;
    padding-left: 120px;
}

footer{
	padding: 15px 0 10px 0;
	font-style: italic;
	}

.back{
	margin-top: 135px;
    font-family: "Crimson";
    font-size: 16px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    width: 170px;
}

.back i{
	margin-left: -17px;
    margin-right: 17px;
}

.form-control{
	margin-top: 30px;
	width: 430px;
}

@media (min-width: 778px){
	.img-rabbit{
		margin: 0 -15px;
	}

.social a i{
	height: 40px;
	width: 40px;
	border: 1px solid #111;
	line-height: 40px;
	margin: 0 10px;
	color: #111;
	font-size:21px;
	transition: all 0.4s ease-in-out;
}

.social a:hover i{
	color: #fff;
	border-color: #bb9e7d;
	background-color: #bb9e7d;
	}

.btn{
	padding: 8px 15px;
	height: 40px;
}

.btn-group-vertical{
    padding: 20px 87.5px;
    font-family: "Josefin Sans";    
}

.about{
	font-family: "Josefin Sans";
	margin-top: 35px;
	
	margin-bottom: 25px;
	font-size: 32px;
	
}
.form-control{
	font-style: italic;

	font-family: "Crimson"
	font-size: 16px;
	border-radius: 0;
}

.info{
	font-family: "Crimson";
	margin-top: 25px;
	line-height: 25px;
	font-size: 14px;
}

.page-title{
	font-size: 32px;
	font-family: "Josefin Sans"
}

.submit{
	font-family: "Crimson"
	font-size: 17px;
	width: 215px;
	margin-top: 20px;
}

.fa-heartbeat{
	    color: #bb9e7d;
}

::selection {
  color: #fff;
  background-color: #bb9e7d;
}

.custom_btn{
	padding-top: 5px;
}

.bottom{
	font-family: "Crimson";
	font-size: 14px;
	margin-left: 60px;
}
